/* body {
    padding-bottom: 20px;
  } */
  
  .navbar {
    /* margin-bottom: 20px; */
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .dropdown-menu a{
    text-transform: capitalize;
    font-weight: 600;
  }